doctype html
html
  head
    title OpenMafia
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
  body
    div(style='width:800px; display: block; margin: 0 auto')
      #header
      #announcement(style='text-align: left')
      #content(style='width: 600px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll; float: left;')
      #selectArea(style='width: 185px; overflow-x: visible; float: right; display: none')
        p#votingPlayers(style='margin: 0;').
        select#select(style='width: 185px; float: right')
        br
        input#vote(type='button',value='vote',style='width:50px; float: right')
      .controls
        input#name(style='width:300px',placeholder='nickname')
        input#nick(type='button',value='set',style='width:50px')
        br
        input#field(style='width:450px')
        input#send(type='button',value='send',style='width:50px')
