doctype html
html
  head
    title OpenMafia
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/chat.js')
    script(src='/socket.io/socket.io.js')
  body
    #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
    .controls
      input#name(style='width:350px')
      br
      input#field(style='width:350px')
      input#send(type='button',value='send')
