doctype html
html
  head
    title OpenMafia
    script(src='//code.jquery.com/jquery-1.10.1.min.js')
    script(src='/client.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/style.css')
  body
    #main-view
      #header-area
        #header
        #announcement
      #flex-container
        #left-pane
          ul#player-list
        #middle-pane
          #content
          .controls
            #nick-form
              input#name(placeholder='nickname')
              input#nick(type='button',value='set')
            #chat-form
              input#field
              input#send(type='button',value='send')
        #right-pane
          #selectArea
            p#votingPlayers.
            select#select
            br
            input#vote(type='button',value='vote')
          #inventory
            b Inventory:
